# Supabase Postgres
DATABASE_URL="postgresql://prisma.PROJECT_REF:YOUR_PASSWORD@REGION.pooler.supabase.com:5432/postgres"

# Supabase Auth
NEXT_PUBLIC_SUPABASE_URL="https://PROJECT_REF.supabase.co"
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY="sb_publishable_xxx"

# App
NEXT_PUBLIC_APP_URL="http://localhost:3000"
